#login-container.row
  .col-md-2.col-md-offset-5.col-sm-10.col-sm-offset-1
    h2#main-title Hi. Who Are you?
    p We use your github account instead of you having to remember <strong>another</strong> password.
    a.btn.btn-primary.btn-lg.btn-2x.col-md-12(href="/auth/github/")
      i.fa.fa-github
      span.txt Sign In With GitHub
