extend ../layout

block content
  .row
    .col-md-2.col-md-offset-3.col-sm-12.col-sm-offset-0
      img.avatar(src='#{user.raw.avatar_url}')
      h2= user.name

    #events-list.col-md-4.col-sm-12
      i.fa.fa-2x.fa-spin.fa-circle-o-notch

block scripts
  script
    | (function(current_user) {
    |   var channel = Backbone.Wreqr.radio.channel('global');
    |   var user = new User(current_user);
    |   channel.vent.on('app:start', function() {
    |     var controller = new UserProfile({ model: user });
    |     controller.profile();
    |   });
    | })(!{JSON.stringify(req.user)});
