
<div class="event-item pull-left">
  <div class="col-md-8">
    <h4><a href="<%= html_url %>"><%- title %></a></h4>
    <% if(typeof(description) !== 'undefined') { %>
      <span><%- description %></span>
    <% } %>
    <% if(typeof(starts_at) !== 'undefined') { %>
      <div class="meta">
        <i class="fa fa-clock-o"></i> <time title="<%- new Date(starts_at).toGMTString() %>"><%- moment(starts_at).fromNow() %></time>
      </div>
    <% } %>
  </div>
  <div class="col-md-4">
    <button type="button" class="btn btn-link btn-delete-event pull-right"><i class="fa fa-trash fa-2x"></i></button>
  </div>
</div>
