<section>
  <div class="join-event">
    <p>Hey, this looks like it's going to be a good time! Want to join in?</p>
    <form role="form">
      <div class="col-md-8">
        <input name="beer" class="form-control input-lg" placeholder="What Beer are you bringing?" />
      </div>
      <button type="submit" class="btn btn-success pull-right btn-lg col-md-4"><i class="fa fa-beer"></i> Count me in!</button>
    </form>
  </div>
</section>

<div class="clearfix"></div>

<section>
  <div class="participants-list"></div>
</section>
